@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model?.Title
            <span class="badge rounded-pill bg-primary text-white" style="float:right">
                <small>@Model?.Price.ToString()</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">
        <ul>
            <li>Publisher: @Model?.Supplier</li>
            <li>Category: @Model?.Category</li>
            <li>Description: @Model?.Description</li>
        </ul>
    </div>
    <form id="@Model?.BookID" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="BookID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
        </span>
    </form>
</div>
